<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head Boiler Plate -->
    <%- include('components/headerboilerplate') %>
  </head>
  <body class="mr-0">
    <div class="flex">
      <!-- Sidebar Section -->
      <div class="w-2/12 fixed h-full">
        <%- include('components/sidebar') %>
      </div>
      
      <!-- Content Section -->
      <div class="flex-grow ml-[16.6667%]">
        <!-- Navbar Section -->
        <%- include('components/navbar') %>

        <main class="flex flex-col flex-grow">
          <div class="ml-3 mt-3 items-end">
            <h2 class="text-xl font-bold">Order Management</h2>
          </div>

          <section class="p-3 sm:p-5 max-w-screen">
            <div class="mx-auto max-w-screen px-4 lg:px-12">
              <div
                class="bg-slate-200 relative shadow-md sm:rounded-lg overflow-hidden"
              >
                <div class="overflow-x-auto">
                  <table
                    class="w-full text-sm text-center shadow-2xl shadow-black text-gray-500"
                  >
                    <thead class="text-xs text-white uppercase bg-gray-600">
                      <tr>
                        <th scope="col" class="px-4 py-3">User Id</th>
                        <th scope="col" class="px-4 py-3">Order Id</th>
                        <th scope="col" class="px-4 py-3">Address</th>
                        <th scope="col" class="px-4 py-3">Products</th>
                        <th scope="col" class="px-4 py-3">Status</th>
                        <th scope="col" class="px-4 py-3">Modify Order Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i = orderDetails.length - 1; i >= 0; i-- ) { %>
                      <tr>
                        <td class="px-4 py-3 text-black text-center">
                          <%=orderDetails[i].user%>
                        </td>
                        <td class="px-4 py-3 text-black text-center">
                          <%=orderDetails[i]._id%>
                        </td>
                        <td class="px-4 py-3 text-black text-center">
                          <%=orderDetails[i].shippingAddress.address_line_1%>
                          <%=orderDetails[i].shippingAddress.address_line_2%>,
                          <%=orderDetails[i].shippingAddress.street%>,
                          <%=orderDetails[i].shippingAddress.city%>,
                          <%=orderDetails[i].shippingAddress.state%>,
                          <%=orderDetails[i].shippingAddress.country%>
                          <%=orderDetails[i].shippingAddress.zip_code%>
                        </td>
                        <td class="px-4 py-3 text-black text-center">
                          <ul>
                          <% for ( let j = orderDetails[i].products.length - 1; j >= 0 ; j--
                          ) { %>
                            <li><%=orderDetails[i].products[j].product.product_brand%> <%=orderDetails[i].products[j].product.product_name%></li>
                          <% } %>
                          </ul>
                        </td>
                        <td class="px-4 py-3 text-black text-center">
                          <ul>
                          <% for ( let j = orderDetails[i].products.length - 1; j >= 0 ; j--
                          ) { %>
                            <li><%=orderDetails[i].products[j].orderStatus%></li>
                          <% } %>
                          </ul>
                        </td>
                        <td class="px-4 py-3 text-black text-center">
                          <ul>
                    <% for ( let j = orderDetails[i].products.length - 1; j >= 0 ; j--
                    ) { %> 
                     <li>
                        <form class="max-w-sm mx-auto m-2">
                            <select
                                id="status-select-<%= orderDetails[i].products[j].id %>"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                                onchange="updateStatus('<%= orderDetails[i].products[j].id %>', this.value)"
                            >
                                <option value="Pending" <%= orderDetails[i].products[j].orderStatus === 'Pending' ? 'selected' : '' %>>Pending</option>
                                <option value="Processing" <%= orderDetails[i].products[j].orderStatus === 'Processing' ? 'selected' : '' %>>Processing</option>
                                <option value="Shipped" <%= orderDetails[i].products[j].orderStatus === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                <option value="Delivered" <%= orderDetails[i].products[j].orderStatus === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                <option value="Cancelled" <%= orderDetails[i].products[j].orderStatus === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
                            </select>
                        </form>
                    </li>
                    <% } %> 
                  </ul>
                        </td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>

    <!-- Pagination Controls
    <div class="flex justify-center mb-6">
      <% if (currentPage > 1) { %>
      <a
        href="/admin/customersPage?page=<%= currentPage - 1 %>&limit=10"
        class="px-4 py-2 bg-gray-300 text-gray-800 rounded mx-1"
        >Previous</a
      >
      <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
      <a
        href="/admin/customersPage?page=<%= i %>&limit=10"
        class="px-4 py-2 <%= currentPage === i ? 'bg-blue-500 text-white' : 'bg-gray-300 text-gray-800' %> rounded mx-1"
        ><%= i %></a
      >
      <% } %> <% if (currentPage < totalPages) { %>
      <a
        href="/admin/customersPage?page=<%= currentPage + 1 %>&limit=10"
        class="px-4 py-2 bg-gray-300 text-gray-800 rounded mx-1"
        >Next</a
      >
      <% } %>
    </div> -->

    <script>
      function updateStatus(productId, newStatus) {
        fetch('/admin/updateProductStatus', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
        },
          body: JSON.stringify({
            productId: productId,
            status: newStatus
        })
    })
    .then(response => response.json())
    .then(data => {
        window.location.reload();
    })
    .catch(error => {
        console.error('Error:', error);
    });
    }
    </script>
  </body>
</html>

