<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Header boiler plate -->
    <%- include('components/headboilerplate') %>
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- Navbar Section -->
    <%- include('components/navbar') %>

    <!-- Confirmation Modal -->
      <!-- Modal HTML -->
<div
  id="confirmationModal"
  class="hidden fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]"
>
  <div class="w-full max-w-lg bg-white shadow-lg rounded-lg p-6 relative">
    <div class="my-4 text-center">
      <h4 class="text-gray-800 text-base font-semibold mt-4">
        Are you sure you want to update the product details?
      </h4>

      <div class="text-center space-x-4 mt-8">
        <button
          id="cancelButton"
          type="button"
          class="px-4 py-2 rounded-lg text-gray-800 text-sm bg-gray-200 hover:bg-gray-300 active:bg-gray-200"
        >
          Cancel
        </button>
        <button
          id="confirmButton"
          type="button"
          class="px-4 py-2 rounded-lg text-white text-sm bg-red-600 hover:bg-red-700 active:bg-red-600"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>


    <!-- Main Content Section -->
    <div class="flex flex-grow">
      <!-- Side bar Section -->
      <%- include('components/sidebar') %>

      <!-- Main Content -->
      <main class="w-4/5 m-6 flex flex-col">
        <div class="flex justify-between items-center mb-6">
          <div class="text-2xl font-bold">Edit Product Details</div>
        </div>
        <form id="productUpdateForm" enctype="multipart/form-data">
          <div class="grid grid-cols-3 gap-4 mb-4">
            <div>
              <label for="product-name" class="block text-gray-700"
                >Product Name</label
              >
              <input
                type="text"
                id="product-name"
                name="product_name"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].product_name%>"
              />
            </div>
            <div>
              <label for="price" class="block text-gray-700"
                >Price in Rupees</label
              >
              <input
                type="text"
                id="price"
                name="product_price"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].product_price%>"
              />
            </div>
            <div>
              <label for="quantity" class="block text-gray-700">Quantity</label>
              <input
                type="text"
                name="product_quantity"
                id="quantity"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].product_quantity%>"
              />
            </div>
            <div>
              <label for="brand" class="block text-gray-700">Brand</label>
              <input
                type="text"
                id="brand"
                name="product_brand"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].product_brand%>"
              />
            </div>
            <div>
              <label for="model" class="block text-gray-700">Model</label>
              <input
                type="text"
                id="model"
                name="product_model"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].product_model%>"
              />
            </div>
            <div>
              <label for="processor_generation" class="block text-gray-700"
                >Processor</label
              >
              <input
                type="text"
                id="processor"
                name="processor"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].processor%>"
              />
            </div>
            <div>
              <label for="processor_generation" class="block text-gray-700"
                >Processor Generation</label
              >
              <input
                type="text"
                id="processor_generation"
                name="processor_generation"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].processor_generation%>"
              />
            </div>
            <div>
              <label for="ram_capacity" class="block text-gray-700"
                >Ram capacity</label
              >
              <input
                type="text"
                id="ram_capacity"
                name="ram_capacity"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].ram_capacity%>"
              />
            </div>
            <div>
              <label for="ram_generation" class="block text-gray-700"
                >Ram Generation</label
              >
              <input
                type="text"
                id="ram_generation"
                name="ram_generation"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].ram_generation%>"
              />
            </div>
            <div>
              <label for="storage_type" class="block text-gray-700"
                >Storage Type</label
              >
              <input
                type="text"
                id="storage_type"
                name="storage_type"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].storage_type%>"
              />
            </div>
            <div>
              <label for="operating_system" class="block text-gray-700"
                >Operating System</label
              >
              <input
                type="text"
                id="operating_system"
                name="operating_system"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].operating_system%>"
              />
            </div>
            <div>
              <label for="usage" class="block text-gray-700">Usage</label>
              <input
                type="text"
                id="usage"
                name="usage"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].usage%>"
              />
            </div>
            <div>
              <label for="weight" class="block text-gray-700">Weight</label>
              <input
                type="text"
                id="weight"
                name="weight"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].weight%>"
              />
            </div>
            <div>
              <label for="touch_screen" class="block text-gray-700"
                >Touch Screen</label
              >
              <input
                type="text"
                id="touch_screen"
                name="touch_screen"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].touch_screen%>"
              />
            </div>
            <div>
              <label for="graphics_type" class="block text-gray-700"
                >Graphics Type</label
              >
              <input
                type="text"
                id="graphics_type"
                name="graphics_type"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].graphics_type%>"
              />
            </div>
            <div>
              <label for="graphics_generation" class="block text-gray-700"
                >Graphics Generation</label
              >
              <input
                type="text"
                id="graphics_generation"
                name="graphics_generation"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].graphics_generation%>"
              />
            </div>
            <div>
              <label for="graphics_capacity" class="block text-gray-700"
                >Graphics Capacity</label
              >
              <input
                type="text"
                id="graphics_capacity"
                name="graphics_capacity"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].graphics_capacity%>"
              />
            </div>
            <div>
              <label for="color" class="block text-gray-700">Color</label>
              <input
                type="text"
                id="color"
                name="product_color"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].product_color%>"
              />
            </div>
          </div>

          <div class="grid grid-cols-3 gap-4 mb-4">
            <div>
              <label for="photos" class="block text-gray-700">Photos</label>
              <input
                type="file"
                name="product_images"
                id="photos"
                class="w-full p-2 border shadow-xl rounded bg-white"
                placeholder="Select Images"
                multiple
              />
            </div>
            <div>
              <label for="color" class="block text-gray-700">Status</label>
              <input
                type="text"
                id="product_listed"
                name="product_listed"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=product[0].product_listed%>"
              />
            </div>
          </div>
          <button
            type="submit"
            class="bg-submit-button text-white px-4 py-2 shadow-xl rounded"
            onclick="updateProduct( '<%=product[0]._id%>')"
          >
            Update Product
          </button>
        </form>
      </div>
    </main>

    <!-- Footer Section -->
    <%- include('components/footer') %>

    <script>
      document
        .getElementById("productUpdateForm")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent the default form submission
          const productId = document.querySelector(
            "input[name='product_id']"
          ).value;
          updateProduct(productId);
        });

      const updateProduct = (productId) => {
        if (confirm("Are you sure you want to update this product?")) {
          const formData = new FormData(
            document.getElementById("productUpdateForm")
          );

          fetch(`/admin/productUpdateForm/${productId}`, {
            method: "PUT",
            body: formData,
          });

          alert("Product was successfully updated");
          window.location.href = "/admin/productsPage"; // Redirect to the products page
        }
      };
    </script>
  </body>
</html>
