<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LTC</title>
    <link rel="stylesheet" href="/stylesheet/admin/adminLoginOutput.css" />
    <link rel="icon" type="image/x-icon" href="/images/Logo.png" />
    <style>
      .input-field {
        padding: 10px;
        border-radius: 9999px;
      }

      .submit-button {
        padding: 12px 24px;
        border-radius: 9999px;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      main {
        flex: 1; /* This will allow the main section to take up the remaining space */
      }
    </style>
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- Navbar Section -->
    <%- include('components/navbar') %>

    <!-- Main Content Section -->
    <main class="flex flex-row justify-start">
      <%- include('components/sidebar') %>
      <div class="w-full md:w-4/5 ml-6 mt-6">
        <div class="flex">
          <h1 class="font-semibold text-2xl">Order History</h1>
        </div>

        <% for ( let i = 0; i < orderDetails.length; i++ ) { %> <% for ( let j =
        0; j < orderDetails[i].products.length; j++ ) { %>
        <div
          class="bg-white flex flex-col md:flex-row shadow-xl w-11/12 rounded-lg font-[sans-serif] overflow-hidden mt-4"
        >
          <div
            class="flex items-center justify-center md:justify-start min-w-[200px]"
          >
            <img
              src="data:<%= orderDetails[i].products[j].product.product_images.contentType %>;base64,<%= orderDetails[i].products[j].product.product_images.data.toString('base64') %>"
              class="text-center h-40 w-44 object-fill"
            />
          </div>

          <div class="flex flex-col p-3 items-center md:items-start w-full">
            <div>
              <h3 class="text-xl font-semibold w-full text-center md:text-left">
                <%=orderDetails[i].products[j].product.product_brand%>
                <%=orderDetails[i].products[j].product.product_name%>
                <%=orderDetails[i].products[j].product.processor%>
                <%=orderDetails[i].products[j].product.processor_generation%>
                <%=orderDetails[i].products[j].product.product_model%>
              </h3>
            </div>

            <div class="flex items-center">
              <svg
                class="w-4 h-4 text-yellow-300 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 ms-1 text-gray-300 dark:text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
            </div>

            <p class="text-sm text-gray-400">1000 Ratings & 500 Reviews</p>
            <p
              class="text-sm text-black leading-relaxed text-center md:text-left break-words max-w-full"
            >
              <%=orderDetails[i].products[j].product.processor%>
              <%=orderDetails[i].products[j].product.processor_generation%>
            </p>
            <p
              class="text-sm text-black leading-relaxed text-center md:text-left break-words max-w-full"
            >
              <%=orderDetails[i].products[j].product.ram_capacity%>
              <%=orderDetails[i].products[j].product.ram_generation%>
            </p>

            <p
              class="mt-2 text-sm text-black leading-relaxed text-center md:text-left break-words w-full"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              auctor auctor arcu.
            </p>
            <div>
              <p
                class="mt-2 text-sm text-black leading-relaxed text-center md:text-left break-words w-full"
              >
                Order Status
              </p>
              <a
                href=""
                class="mt-2 text-sm text-red-600 underline leading-relaxed text-center md:text-left break-words w-full"
                >Cancel Order</a
              >
            </div>
          </div>
        </div>
        <% } %> <% } %>
      </div>
    </main>

    <!-- Footer Section -->
    <%- include('components/footer') %>

    <!-- JavaScript for Dropdown Toggle -->
    <script>
      // function toggleSidebar() {
      //   const sidebar = document.getElementById("sidebar");
      //   sidebar.classList.toggle("hidden");
      // }
    </script>
  </body>
</html>
