<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LTC</title>
    <link rel="stylesheet" href="/stylesheet/admin/adminLoginOutput.css" />
    <link rel="icon" type="image/x-icon" href="/images/Logo.png" />
    <style>
      .input-field {
        padding: 10px;
        border-radius: 9999px;
      }

      .submit-button {
        padding: 12px 24px;
        border-radius: 9999px;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      main {
        flex: 1;
      }
      .full-width {
        width: 100%;
      }
      .full-height {
        height: 100%;
      }
      footer {
        flex-shrink: 0; /* Prevents the footer from shrinking */
        height: 80px; /* Sets a consistent height for the footer */
      }
    </style>
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- Navbar Section -->
    <%- include('components/navbar') %>

    <!-- Main Content Section -->
    <main class="flex flex-row justify-center">
      <%- include('components/sidebar') %>

      <div class="w-4/5 m-6">
        <form action="/user/editAddressForm" method="post">
          <div class="grid grid-cols-1 gap-4 mb-4">
            <label for="address_line_1" class="block text-gray-700"
              >Address Line 1</label
            >
            <input
              type="text"
              name="address_line_1"
              class="w-full p-2 border shadow-xl rounded"
              value="<%=address.address[0].address_line_1%>"
            />

            <label for="address_line_2" class="block text-gray-700"
              >Address Line 2</label
            >
            <input
              type="text"
              name="address_line_2"
              class="w-full p-2 border shadow-xl rounded"
              value="<%=address.address[0].address_line_2%>"
            />

            <label for="street" class="block text-gray-700">Street</label>
            <input
              type="text"
              name="street"
              class="w-full p-2 border shadow-xl rounded"
              value="<%=address.address[0].street%>"
            />

            <label for="city" class="block text-gray-700">City</label>
            <input
              type="text"
              name="city"
              class="w-full p-2 border shadow-xl rounded"
              value="<%=address.address[0].city%>"
            />

            <label for="state" class="block text-gray-700">State</label>
            <input
              type="text"
              name="state"
              class="w-full p-2 border shadow-xl rounded"
              value="<%=address.address[0].state%>"
            />

            <label for="country" class="block text-gray-700">Country</label>
            <input
              type="text"
              name="country"
              class="w-full p-2 border shadow-xl rounded"
              value="<%=address.address[0].country%>"
            />

            <label for="zip_code" class="block text-gray-700">Zip Code</label>
            <input
              type="text"
              name="zip_code"
              class="w-full p-2 border shadow-xl rounded"
              value="<%=address.address[0].zip_code%>"
            />

            <input
              type="text"
              name="address_id"
              hidden
              value="<%=address.address[0]._id%>"
            />

            <button
              type="submit"
              class="bg-submit-button w-40 text-white px-4 py-2 shadow-xl rounded"
            >
              Update Address
            </button>
          </div>
        </form>
      </div>
    </main>

    <!-- Footer Section -->
    <%- include('components/footer') %>

    <!-- JavaScript for Dropdown Toggle -->
    <script></script>
  </body>
</html>
