<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LTC</title>
    <link rel="stylesheet" href="/stylesheet/admin/adminLoginOutput.css" />
    <link rel="icon" type="image/x-icon" href="/images/Logo.png" />
    <style>
      .input-field {
        padding: 10px;
        border-radius: 9999px;
      }

      .submit-button {
        padding: 12px 24px;
        border-radius: 9999px;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      main {
        flex: 1; /* This will allow the main section to take up the remaining space */
      }
      footer {
        flex-shrink: 0; /* Prevents the footer from shrinking */
        height: 80px; /* Sets a consistent height for the footer */
      }
    </style>
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- Navbar Section -->
    <%- include('components/navbar') %>

    <!-- Main Content Section -->
    <main class="flex flex-row justify-start">
      <div class="w-1/5 flex flex-col shadow-2xl mt-6">
        <%- include('components/sidebar') %>
      </div>

      <div class="w-4/5 m-6">
        <div class="mt-2">
          <h1 class="font-semibold text-2xl">WishList</h1>
        </div>
        <% for( let i = 0; i < products.length; i++ ) { %>
        <div class="mt-6 flex flex-row shadow-black">
          <div class="w-1/5">
            <a href="#">
              <img
                class="p-8 rounded-tl-lg text-center h-56 w-60"
                src="data:<%= products[i].product_images.contentType %>;base64,<%= products[i].product_images.data.toString('base64') %>"
                alt="Product Image"
              />
            </a>
          </div>
          <div class="w-3/5 flex flex-col justify-start">
            <h2>
              <%=products[i].product_brand%> <%=products[i].product_name%>
              <%=products[i].processor%><%=products[i].processor_generation%>
              <%=products[i].product_model%>
            </h2>

            <div class="flex items-center">
              <svg
                class="w-4 h-4 text-yellow-300 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 ms-1 text-gray-300 dark:text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
            </div>

            <p class="text-sm text-gray-400">1000 Ratings & 500 Reviews</p>
            <p class="">
              <%=products[i].processor%><%=products[i].processor_generation%>
            </p>
            <p class="">
              <%=products[i].ram_capacity%> <%=products[i].ram_generation%> RAM
            </p>
            <p class="">
              64 bit <%=products[i].operating_system%> Operating System
            </p>
            <p><%=products[i].storage_type%></p>
            <p>1 Year Onsite Warrenty</p>
          </div>
          <div class="w-1/5 flex flex-col justify-between">
            <% if ( products[0].discount.includes(discount._id) ) { %> <% const
            discountAmount = ( products[i].product_price *
            discount.discount_percentage ) / 100; const discountedAmount =
            Math.floor(products[i].product_price - discountAmount) %>
            <div>
              <div class="flex">
                <h1 class="text-lg">₹<%=discountedAmount%></h1>
                <h1 class="text-lg line-through pl-3">
                  ₹<%=products[i].product_price%>
                </h1>
              </div>
              <p class="text-sm text-gray-400"><%=discount.discount_percentage%>% off</p>
            </div>
            <% } else { %>
            <div>
              <h1 class="text-lg">₹<%=products[i].product_price%></h1>
            </div>
            <% } %>
            <div>
              <form action="#" class="mt-3">
                <button
                  type="submit"
                  class="bg-yellow-300 text-black px-4 py-2 shadow-xl rounded"
                >
                  Add to Cart
                </button>
              </form>

              <form action="#" class="mt-3">
                <button
                  type="submit"
                  class="bg-submit-button text-white px-4 py-2 shadow-xl rounded"
                >
                  Buy Now
                </button>
              </form>

              <form id="removeProduct" class="mt-3">
                <button
                  type="submit"
                  class="bg-red-600 text-white px-4 py-2 shadow-xl rounded remove-from-wishlist"
                  data-product-id="<%= products[i]._id %>"
                >
                  Remove
                </button>
              </form>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </main>

    <!-- Footer Section -->
    <%- include('components/footer') %>

    <!-- JavaScript for Dropdown Toggle -->
    <script>
      const toggleDropdown = function () {
        const dropDownmenu = document.getElementById("dropdownMenu");
        dropDownmenu.classList.toggle("invisible");
      };

      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".remove-from-wishlist").forEach((button) => {
          button.addEventListener("click", async function (e) {
            e.preventDefault(); // Prevent form from submitting the traditional wasy

            const productId = this.getAttribute("data-product-id");

            try {
              // Send an AJAX request using fetch
              const response = await fetch(
                `/user/removeProductFromWishList/${productId}`,
                {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                }
              );

              if (response.ok) {
                const result = await response.json();

                //Update the UI or show a success message
                alert(result.message);
                location.reload();
              } else {
                // Handle the error
                alert("Failed to add product to wishlist");
              }
            } catch (error) {
              console.error("Error:", error);
              alert("Something went wrong!");
            }
          });
        });
      });
    </script>
  </body>
</html>
