<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LTC</title>
    <link rel="stylesheet" href="/stylesheet/admin/adminLoginOutput.css" />
    <link rel="icon" type="image/x-icon" href="/images/Logo.png" />
    <style>
      .input-field {
        padding: 10px;
        border-radius: 9999px;
      }

      .submit-button {
        padding: 12px 24px;
        border-radius: 9999px;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      main {
        flex: 1; /* This will allow the main section to take up the remaining space */
      }
      footer {
        flex-shrink: 0; /* Prevents the footer from shrinking */
        height: 80px; /* Sets a consistent height for the footer */
      }
    </style>
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- Navbar Section -->
    <%- include('components/navbar') %>

    <!-- Main Content Section -->
    <main class="flex flex-row justify-start">
      <%- include('components/sidebar') %>

      <div class="w-4/5 m-6">
        <form
          action="/user/editProfilePage"
          method="get"
          enctype="multipart/form-data"
        >
          <div class="grid grid-cols-1 gap-4 mb-4">
            <div>
              <label for="first_name" class="block text-gray-700"
                >First Name</label
              >
              <input
                type="text"
                name="first_name"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=user[0].first_name%>"
                readonly
              />
            </div>
            <div>
              <label for="second_name" class="block text-gray-700"
                >Second Name</label
              >
              <input
                type="text"
                name="second_name"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=user[0].second_name%>"
                readonly
              />
            </div>
            <div>
              <label for="phone_number" class="block text-gray-700"
                >Phone Number</label
              >
              <input
                type="text"
                name="phone_number"
                class="w-full p-2 border shadow-xl rounded"
                value="+91-<%=user[0].phone_number%>"
                readonly
              />
            </div>
            <div>
              <label for="email" class="block text-gray-700">Email</label>
              <input
                type="text"
                name="email"
                class="w-full p-2 border shadow-xl rounded"
                value="<%=user[0].email%>"
                readonly
              />
            </div>
          </div>

          <button
            type="submit"
            class="bg-submit-button text-white px-4 py-2 shadow-xl rounded"
          >
            Edit Profile
          </button>
        </form>

        <div class="mb-4">
          <div class="flex flex-col">
            <% if ( address ) { for ( let i = 0; i < address.length; i++ ) { %>
            <div class="mt-6">
              <div class="flex flex-row">
                <div class="flex items-center h-5">
                  <input
                    id="helper-radio"
                    aria-describedby="helper-radio-text"
                    type="radio"
                    value=""
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                </div>
                <div class="ms-2">
                  <label for="helper-radio" class="text-lg text-black"
                    >Address <%=i+1%></label
                  >
                  <p id="helper-radio-text" class="text-black">
                    <%=address[i].address_line_1%> <br />
                    <%=address[i].address_line_2%> <%=address[i].street%> <br />
                    <%=address[i].city%>, <%=address[i].state%> <br />
                    <%=address[i].country%> PIN : <%=address[i].zip_code%>
                  </p>
                </div>
              </div>

              <button
                type="button"
                class="bg-yellow-300 text-black px-4 py-2 shadow-xl rounded mt-3 ml-5"
                onclick="editAddress( '<%=address[i]._id%>' )"
              >
                Edit
              </button>

              <button
                type="button"
                class="bg-red-500 text-white px-4 py-2 shadow-xl rounded mt-3 ml-5"
                onclick="deleteAddress( '<%=address[i]._id%>' )"
              >
                Delete
              </button>

              <% } } else { %>

              <div class="ms-2">
                <label for="helper-radio" class="text-lg text-black"
                  >Address</label
                >
                <p id="helper-radio-text" class="text-black">
                  Please add address
                </p>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <div>
        <form action="/user/addAddressPage" method="get">
          <button
            type="submit"
            class="bg-submit-button text-white px-4 py-2 shadow-xl rounded mt-6"
          >
            Add Address
          </button>
        </form>
        <form action="/user/deleteAccount" method="get">
          <button
            type="submit"
            class="bg-red-500 text-white px-4 py-2 shadow-xl rounded mt-6"
          >
            Delete Account
          </button>
        </form>
      </div>
    </main>

    <!-- Footer Section -->
    <footer class="flex items-center justify-center bg-black text-white h-24">
      <p>@ 2024 Laptoptradecenter.com</p>
    </footer>

    <!-- JavaScript for Dropdown Toggle -->
    <script>
      const toggleDropdown = function () {
        const dropDownmenu = document.getElementById("dropdownMenu");
        dropDownmenu.classList.toggle("invisible");
      };

      const deleteAddress = async (addressId) => {
        // Confirm deletion with the user
        const isConfirmed = confirm(
          "Are you sure you want to delete the address? "
        );
        if (!isConfirmed) return;

        try {
          // Send the delete request to the server
          const response = await fetch("/user/deleteAddress", {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ addressId }),
          });

          const data = await response.json();

          if (response.ok && data.success) {
            alert(data.message);
            window.location.href = "/user/profilePage";
          } else {
            alert(
              data.message || `Failed to delete the address. Please try again`
            );
          }
        } catch (error) {
          console.error(`Error deleting address:`, error);
          alert(`An error occurred while deleting the address.`);
        }
      };

      const editAddress = async (addressId) => {
        window.location.href = `/user/editAddressPage/${addressId}`;
      };
    </script>
  </body>
</html>
